* {
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-user-drag: none;
}

.container {
    padding-top: 10%;
    margin: auto;
    text-align: center;
}

.ctxt{
    text-align: center;
}
.mousediv{
    border: none;
    outline: none;
    background-color: #fff;
}

